# Django framework
Django

# Django REST framework
djangorestframework

# Image processing
Pillow

# Google Cloud Translate
google-cloud-translate
google-auth

# HTTP requests
requests

# Environment variables
python-dotenv

# Static file serving for Django
whitenoise


# Django Rosetta
django-rosetta

# Scientific packages
numpy
pandas
scikit-learn

# Plotly
plotly

# Gunicorn
gunicorn
